@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
  font-family: 'Major Mono Display', monospace;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #87d7cc;
  color: #2c888d;
}